<ion-header>
  <ion-toolbar color="bule-300">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>กึ่งสำเร็จรูป</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item *ngFor="let m of items4">
    <ion-thumbnail slot="start">
      <img [src]="m.imageURL">
    </ion-thumbnail>
     <ion-label>
      {{ m.name }} <br>
      <p>ราคา {{ m.price }} บาท</p>
     </ion-label>
  </ion-item>

</ion-content>