<ion-header>
  <ion-toolbar color="bule-300">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>ขนม</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item *ngFor="let f of items2">
    <ion-thumbnail slot="start">
      <img [src]="f.imageURL">
    </ion-thumbnail>
     <ion-label>
      {{ f.name }} <br>
      <p>ราคา {{ f.price }} บาท</p>
     </ion-label>
  </ion-item>

</ion-content>